*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* background-color:rgb(79, 240, 243) */
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#41f111;
    color:#f93c39;
    padding:15px 20px;
    font-family: Arial, sans-serif;
}
.LOGO{
    font-size:1.5rem;
    font-weight:bold;
}

.nav links{
    display:flex;
    list-style:none;

    }
    .nav-links li{
        margin: 0 15px;
    }
    .nav-links a{
        text-decoration:none;
        color:rgb(28, 10, 236);
        font-size:1rem;
    }
    .actions a{
        margin-left:15px;
        color:rgb(252, 17, 193);
        text-decoration:none;
        font-weight:bold;
    }

    @media (max-width:768px)
    {
        .nav-links{
            display:none;
        }
        .actions {
            font-size:1.5rem;

        }
    }

    @media (min-width:769px) and (max-width:1024px){
        .nav-links a{
            font-size:1.5rem;
        }
    }

    @media (min-width:1025px){
        .nav-links a {
            font-size:1rem;
        }
    }

    


    