.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: rgb(18, 217, 248);
}

.box {
    width: 60px;
    height: 60px;
    background-color: rgb(231, 46, 160);
    color: white;
    text-align: center;
    line-height: 60px;
    margin: 5px;
}